.button{
    background-color: green;
    margin: 4px 20px;
    color: white;
    padding: 10px;
    border: none;
font-weight: bold;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    width: 80px;
    font-size: large;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}