.button{
    background-color: green;
    margin: 8px;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    font-family:  Poppins,'Courier New', Courier, monospace;
    width: 80px;
    font-size: large;

}

.button:hover{
    cursor: pointer;
    transform: scale(1.1)
}