.modalbutton {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.textarea_exp {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var( --text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.link {
  padding: 4px;
  overflow: hidden;
}

.start-again-btn {
  background-color: #3e4248;
}
.start-again-btn:hover,
.start-again-btn:focus {
  background: #808080;
}

.share-btn {
  background-color: #3b5998;
}
.share-btn:hover,
.share-btn:focus {
  background: #5d7dc4;
}

.tweet-btn {
  background: #1da1f2;
}

.tweet-btn:hover,
.tweet-btn:focus {
  background: #8faef3;
}

.h1 {
  font-size: 14px;
}

@media (min-width: 576px) {
  .h1 {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .h1 {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .h1 {
    font-size: 24px;
  }
}
