
h1{
  text-align: center;
}



.typewriter h3 {
  text-align: center;

  /* animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite; */
}

/* The typing effect */
/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue; }
} */ 