@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);
}
body.light-mode {
  --bg-color: #fff;
  --text-color: black;
  --textarea-color: #fff;
}
body.dark-mode {
  --bg-color: #121212;
  --text-color: #fff;
  --textarea-color: #242424;
}
.ql-editor.ql-blank::before {
  color: gray !important;
}
body.light-mode .ql-snow .ql-editor pre.ql-syntax {
  background-color: #f0f0f0;
  color: #000;
}

body.dark-mode .ql-snow .ql-editor pre.ql-syntax {
  background-color: #23241f;
}
body.dark-mode .ql-snow .ql-editor span.hljs-name {
  color: #f0f0f0;
}
body.dark-mode .ql-snow .ql-editor span.hljs-attr {
  color: #ddd;
}
